@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}

.main {
    margin: 80px;
}
.card {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.2);
    border: none;
}

.card-dark {
    background-color: #1a1a1a;
}

.card-heading {
    font-weight: 700;
}