.topnav {
	font-family: 'Nunito Sans', sans-serif;
	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    padding-right: 2em;
  }

.topnav a {
    color: #FFFFFF !important;
    letter-spacing: 0.1em;
    font-size: 17.5px;
    margin: 0.3em;
    padding: 0.4em;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.topnav a.active {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5.6px;
}